{% extends "spatialmaps/base.html" %}
{% load staticfiles %}
{% block content %}

 <div class="container">
 <!--start: Navigation-->	
			{% include 'spatialmaps/navbar.html' %}
			<!--end: Navigation-->
			<div class="breadcrumb">
		<h2>ABOUT US</h2><br /> </div>
<div class="container">
			<div class="col-md-10 col-md-offset-1" >
			<div id="about">	
				<p><br/>
				Spatialmaps consulting Ltd was established in 2008 .and fully incooporated in Kenya as a limited liability company in 2009.The firm offers specialized services in Geographical Information System (GIS), Geo-IT, Surveying, Mapping, GPS and remote sensing and is owned and managed by professional geospatial engineers. The company offers its consultancy services within the larger African continent having undertaken assignments in Kenya, Southern Sudan, Somalia, Tanzania and Uganda.
				</p>
			</div>
			</div>
</div>
</div>
{% endblock %}