{% extends "spatialmaps/base.html" %}
{% load staticfiles %}
{% block content %}

 <div class="container">
 <!--start: Navigation-->	
			{% include 'spatialmaps/navbar.html' %}
			<!--end: Navigation-->
			<div class="breadcrumb">
		<h2>INDUSTRIES</h2><br /> </div>
		<div class="container">
			<div class="col-md-10 col-md-offset-1" >	
				<p><strong>
				Geospatial Science and Technology has become pervasive in all areas of economic development. At Spatialmaps provide thoroughly researched and detailed applications of geospatial technology in various industries. Our goal is to widen and deepen the utilizations of geospatial science and technology into countless but key industries that empower economic growth and development. 
				</strong>
				</p>
				<p><br/>
				Our specific industry solutions include field surveys services, digital base maps, customized spatial data, models, data visualizations platforms and mobile data collection tools that simplify the use of geospatial technology
				</p>
				</div>
				</div>						
</div>
{% endblock %}	