{% extends "spatialmaps/base.html" %}
{% load staticfiles %}
{% block content %}

 <div class="container">
 <!--start: Navigation-->	
			{% include 'spatialmaps/navbar.html' %}
			<!--end: Navigation-->
			<div class="breadcrumb">
		<h2>PRODUCTS</h2><br /> </div>
		<div class="container">
			<div class="col-md-10 col-md-offset-1" >	
				<p><strong>
				Spatialmaps offers customized geospatial industry products supporting different markets with tools and data for decision making at various levels of organizations business functions. Our products are well researched, simple and add value to many users of spatial information.<br/>

				Some of products currently under development include.

				</strong>
				</p>
				<p><br/>
				Our training services; GIS training, GPS and utility inventory, RS training, Survey and mapping
				</p>
				<li>Open Source GIS Bootcamp</li>
				<li>GIS technology implementation</li>
				<li>GIS application training</li>
				<li>Spatial data management training</li>
				</div>
				</div>
		<div class="container">
					<div class="col-md-4" >
					<h3>AgroInfo</h3>
					<p>
					This a solution that empowers agricultural organizations  providing an platform  to integrate agricultural related datasets  and manage all agricultural activities from field preparation, cropping assessments, yield estimation, harvesting planning, workers management. The solution empowers managers with decision support tools at every level of agricultural activities.	
					</p>
					</div>
					</div>		
		<div class="container">
					<div class="col-md-4" >
					<h3>Makao</h3>
					<p>
					This is real estate solution that offers a platform for integration of real estate information, land ownership data delivered through desktop and web based platforms for supporting developers, land owners, customers with in-depth search, and query of latest properties within the market.	
					</p>
					</div>
					</div>
		<div class="container">
					<div class="col-md-4" >
					<h3>LandGIS</h3>
					<p>
					The solution is a land Information and cadastre platform for integrated management of cadastral footprints, empowering organizations involved in land /registry management business with tools for land transaction management, customized registry management, land revenue administration, valuation and taxation.
					</p>
					</div>
					</div>						
</div>
{% endblock %}		