<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]> <html class="ie6 ie" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 7]> <html class="ie7 ie" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 8]> <html class="ie8 ie" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 9]> <html class="ie9 ie" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if !IE]>--> <html lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<title>Servicios | AOC Ingeniería</title>
<meta name="language" content="Spanish"/>
<meta name="google-site-verification" content="mvy1gffFhRIEaozF4x2N0zvBRkgMkCJev1whxQIfbOg" />
<meta name="keywords" content="ingeniería, consultoria, consultores, gestión, puentes, vias, geologia, geotecnia, pavimentos, control, fiscalizacion, ambiental, saneamiento, equipos"/>
<meta name="description" content="      "/>
<meta name="classification" content="general"/>
<meta name="robots" content="ALL"/>
<meta name="distribution" content="Global"/>
<meta name="rating" content="General"/>
<meta name="copyright" content="Mushoq Multimedia"/>
<meta http-equiv="reply-to" content="info@mushoq.com"/>
<link rel="shortcut icon" href="frontEnd/images/favicon.ico"/>
<link href="smartoptimizer/index.html%3Fcss%252Ftemplate.css,jcarousel.css%3Fv2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="smartoptimizer/index.html%3Fjs%252Fjquery-1.7.2.min.js,ddsmoothmenu.js,jquery.cycle.all.js,jquery.jcarousel.pack.js,swfObject.js,curvycorners.js,jquery.validate.js,shadowbox.js,fechaEspanol.js,funciones.js%3Fv5"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33554709-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="wrapper">
	<div id="language">
  	<a href="51-aoc_engineering.html" class="english">English</a>
    <a href="https://www.facebook.com/pages/AOC-Ingeniería/166088886759854" target="_blank" class="facebook">Facebook</a>
  </div>
  <div class="wrapper" id="header">
    <div id="carrusel">
    				<img src="frontEnd/images/objetos/presioRio_(917x286)_20150617052631.jpg" alt="" />
      			<img src="frontEnd/images/objetos/DSC_0858_(917x395)_20150617042125.jpg" alt="" />
      			<img src="frontEnd/images/objetos/02_20120720124909.jpg" alt="" />
      			<img src="frontEnd/images/objetos/DSC_0863_(917x607)_20150717122403.jpg" alt="" />
      			<img src="frontEnd/images/objetos/_SC04361_(917x347)_20150617043057.jpg" alt="" />
      			<img src="frontEnd/images/objetos/lefranc_(917x256)_20150617055115.jpg" alt="" />
      			<img src="frontEnd/images/objetos/ElInga_(917x607)_20150625113457.jpg" alt="" />
      			<img src="frontEnd/images/objetos/04_20120720124926.jpg" alt="" />
          </div>
    <div id="nav"></div>
    <h1>
      <a href="index.html">AOC Ingenieria</a>
    </h1>
  </div>
  <div id="nav-main" class="ddsmoothmenu">
      			<ul>
				<li class=" firstLi" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="index.html">Inicio</a>	 				
                  </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="21-quienes_somos.html">La Empresa</a>	 				
          			<ul>
				<li class=" firstLi" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="21-quienes_somos.html">Quienes Somos</a>	 				
                  </li>
				<li class=" lastLi" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="22-mision_vision_y_valores.html">Misión Visión y Valores</a>	 				
                  </li>
			</ul>
        </li>
				<li class="" id="selected" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="services.html">Services</a>	 				
          			<ul>
				<li class=" firstLi" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="gis_services.html">GIS Services</a>	 				
                  </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="remote_sensing.html">Remote Sensing</a>	 				
                  </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="15-ingenieria_de_puentes.html">Ingeniería de puentes</a>	 				
                  </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="17-ingenieria_vial_y_pavimentos.html">Ingeniería Vial y Pavimentos</a>	 				
                  </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="19-control_de_calidad_y_fiscalizacion.html">Control de calidad y fiscalización</a>	 				
                  </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="20-laboratorios_y_equipos.html">Laboratorios y equipos</a>	 				
                  </li>
				<li class=" lastLi" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="16-gestion_ambiental_y_saneamiento.html">Gestión ambiental y saneamiento</a>	 				
                  </li>
			</ul>
        </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="31-pavimentos_vias_y_transportes.html">Proyectos</a>	 				
          			<ul>
				<li class=" firstLi" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="31-pavimentos_vias_y_transportes.html">Pavimentos, vías y transportes</a>	 				
                  </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="32-ingenieria_de_puentes.html">Ingeniería de puentes</a>	 				
                  </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="33-geologia_geotecnia_y_mecanica_de_suelos.html">Geología, geotecnia y mecánica de suelos</a>	 				
                  </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="34-gestion_ambiental_y_saneamiento.html">Gestión ambiental y saneamiento</a>	 				
                  </li>
				<li class=" lastLi" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="35-_control_de_calidad_y_fiscalizacion.html"> Control de calidad y fiscalización</a>	 				
                  </li>
			</ul>
        </li>
				<li class="" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="57-videos.html">Videos</a>	 				
                  </li>
				<li class=" lastLi" onmouseover="$(this).addClass('seleccionado')" onmouseout="$(this).removeClass('seleccionado')">
        					<a href="23-contacto.html">Contacto</a>	 				
                  </li>
			</ul>
	
      <div id="current-date"></div>
  </div>
  <div id="contenido">
		<div id="contenidoLeft">
		<h2>Servicios</h2><br />
	<table width="100%" border="0" cellpadding="5" cellspacing="0" align="center">

  <tr>          
<td width="50%" colspan="2" align="left" valign="top">				<div style="text-align: justify"><b><span class="titulo1">Pavimentos vias y transporte</span></b><br />
<br />
Dise&ntilde;o geom&eacute;trico v&iacute;as, dise&ntilde;o geom&eacute;trico de intersecciones, dise&ntilde;o y evaluaci&oacute;n estructural de pavimentos, dise&ntilde;o de mezclas asf&aacute;lticas, estudios de tr&aacute;nsito, oferta y demanda, modelaci&oacute;n y micromodelaci&oacute;n, etc.<br />
<br />
<b><span class="titulo1">Ingenier&iacute;a de puentes</span></b><br />
<br />
Topograf&iacute;a para puentes, estudios hidrol&oacute;gicos - hidr&aacute;ulicos, an&aacute;lisis de socavaci&oacute;n de estructuras, estudios ambientales, exploraciones geot&eacute;cnicas para cimentaciones, dise&ntilde;o estructural de puentes, an&aacute;lisis y evaluaci&oacute;n estructural de puentes, etc.<br />
<br />
<b><span class="titulo1">Geolog&iacute;a geotecnia y mec&aacute;nica de suelo</span></b><br />
<br />
Estudios geol&oacute;gicos, geof&iacute;sicos, exploraciones e ingenier&iacute;a geot&eacute;cnica para puentes, t&uacute;neles, viaductos, v&iacute;as, edificios, viviendas etc. Estudios de estabilidad de taludes, dise&ntilde;os de obras especiales con tierra armada, muros anclados, claveteados, estabilizaci&oacute;n de excavaciones profundas etc. Estudios de suelos y cimentaciones para obras de infraestructura, zapatas, vigas de cimentaci&oacute;n, losas, pilotes, pilas, caissons, etc.<br />
<b><br />
<span class="titulo1">Gesti&oacute;n ambiental y saneamiento</span></b><br />
<br />
Estudios de impacto ambiental, auditor&iacute;as ambientales, dise&ntilde;os de sistemas de agua potable, dise&ntilde;os de sistemas de alcantarillado, sistemas de tratamiento de aguas residuales, plantas de potabilizaci&oacute;n, sistemas de tratamiento de residuos s&oacute;lidos, etc.<br />
<br />
<b><span class="titulo1">Control de calidad y fiscalizaci&oacute;n de obras</span></b><br />
<br />
Control de calidad y fiscalizaci&oacute;n de obras de ingenier&iacute;a, v&iacute;as, puentes, agua potable, alcantarillado, edificios, urbanizaciones. Dise&ntilde;o y control de calidad de hormigones y mezclas asf&aacute;lticas.<br />
<br />
<b><span class="titulo1">Equipos y laboratorios</span></b><br />
<br />
Disponemos de equipos para realizar perforaciones geot&eacute;cnicas con SPT, sism&oacute;grafo para estudios geof&iacute;sicos, densidades de campo (nuclear y cono arena), prensa CBR, DCP cono de penetraci&oacute;n din&aacute;mica, prensa Marshall, contenido de asfalto, briquetas y martillo para mezclas, granulometras, lmites, contenidos de humedad, compactaciones Prctor estndar y modificado, prensa para rotura de cilindros de hormig&oacute;n, y todos los equipos necesarios para la realizaci&oacute;n de control de calidad de materiales y caracterizacin de muestras. Hemos adquirido un presi&oacute;metro para la determinaci&oacute;n de m&oacute;dulos.</div>
<p>&nbsp;</p></td>
 </tr>		
</table><br />
    </div>
    <div id="contenidoRight">
    	<div id="noticias">
      	<h3>Noticias</h3>
       	        <div class="noticia">
          <h4>Multipropósito Río Verde</h4>
          <p class="fecha">17/06/2015</p>
                    <a href="59-multiproposito_rio_verde.html">
            <img src="frontEnd/phpThumb.php/q=90%3B100x120%3Bimages/topsecciones/IMG-20150502-WA0003_20150617050044.jpg" alt="" />
          </a>
                    <p><a href="59-multiproposito_rio_verde.html">Nos encontramos en la ejecución del levantamiento aerofotogramétrico de aproxima...</a></p>
        </div>
      </div>
    	<div id="twitter">
			<!--<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 2,
        interval: 30000,
        width: 228,
        height: 500,
        theme: {
          shell: {
            background: '#005592',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#26345b',
            links: '#0098d4'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          behavior: 'all'
        }
      }).render().setUser('AOCingenieria').start();
      </script>-->
      <a class="twitter-timeline"  href="https://twitter.com/AOCingenieria"  data-widget-id="402877238162358272">Tweets by @AOCingenieria</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>




      </div>
    </div>
  </div>
  <div id="footer">
  	QUITO:<br />
    Av. De los Shyris N32-218 y Av. Eloy Alfaro, Edificio Parque Central, Of. 1208<br />
		Teléfonos: 3825 592 / 3825622
  </div>
  <div class="wrapper" id="textoInferior">
    <p class="left">A & O CONSULTORES © 2017 </p><p class="right"><span>Desarrollo Web: </span><a href="http://www.mushoq.com" target="_blank">Mushoq Multimedia</a></p>
  </div>
</div>
<script type="text/javascript" src="smartoptimizer%3Fjs%252Fllamadas.js"></script>
</body>
</html>