{% load staticfiles %}
<div class="clients-carousel">
    
        <ul class="slides clients">
          <li><img src="{% static 'images/partners/8p.PNG' %}" alt=""/></li>
          <li><img src="{% static 'images/partners/adp.PNG' %}" alt=""/></li> 
          <li><img src="{% static 'images/partners/batch.PNG' %}" alt=""/></li>
          <li><img src="{% static 'images/partners/eec.PNG' %}" alt=""/></li>
          <li><img src="{% static 'images/partners/iom.jpg' %}" alt=""/></li>
          <li><img src="{% static 'images/partners/mdl.jpg' %}" alt=""/></li>
          <li><img src="{% static 'images/partners/pdc.PNG' %}" alt=""/></li>
          <li><img src="{% static 'images/partners/rea-logo.jpg' %}" alt=""/></li>
          <li><img src="{% static 'images/partners/unops.jpg' %}" alt=""/></li>
          <li><img src="{% static 'images/partners/vision.PNG' %}" alt=""/></li>  
          <li><img src="{% static 'images/partners/whh.PNG' %}" alt=""/></li> 
        </ul>
    
      </div>