{% extends "spatialmaps/base.html" %}
{% load staticfiles %}
{% block content %}

 <div class="container">
 <!--start: Navigation-->	
			{% include 'spatialmaps/navbar.html' %}
			<!--end: Navigation-->
			<div class="breadcrumb">
		<h2>SURVEYING &amp; MAPPING</h2><br /> </div>
<div class="container">
			<div class="col-md-10 col-md-offset-1" >
				<img src="{% static 'images/remote_page.png' %}" alt="" class="img-responsive" />	
				<p><strong>
				We provide surveying services that range from simple small scale site surveys to modern high-tech surveying services. Our services range from reconnaissance survey activities to complex and large scale survey projects with high accuracy requirements.
				</strong>
				</p>
				<p>
				Our survey team consists of geospatial engineers, engineering surveyors, mapping specialist, GPS/geodetic surveyors, and cadastral surveyors with lots of experience in undertaking all manner of surveys.
				Some of the surveys services offered by us include;
				</p>
				</div>
				</div>
		<div class="container">
			<div class="col-md-4" >			
				<h3>Project site control surveys</h3>
				<p>
				We provide static surveys for establishment of horizontal and vertical networks within project sites. We have experience undertaking these surveys for various projects covering water supply feasibility studies and design, road infrastructure development, hydrographic projects, construction works, pipeline conveyance, power line supply, water storage dam development and survey controls for sub-division surveys.
				</p>
				<p>Spatialmaps has undertaken several control survey projects for preliminary project planning, detailed design and supervision for infrastructure development.</p>
				</div>
				</div>
				<div class="container">
					<div class="col-md-4" >
				<h3>Engineering and Construction Surveys</h3>
				<p>We provide detailed topographical surveys for infrastructure planning and development projects that enable picking of natural topographical features within project sites for production of digital terrain models, contours and site surveys data for engineering design, planning and infrastructure developments.</p>
				<p>
					We also undertake setting out surveys for small to large infrastructures projects, buildings, foundations before and during construction activities. The survey services also include location of assets, infrastructures and utilities for inventory, management and planning.
					Some of the survey services offered by our survey section include;
				</p>
				<li>Site reconnaissance surveys for feasibilities studies and preliminary design</li>
				<li>RTK GNSS detail surveys.</li>
				<li>Earth work surveys and volume computations.</li>
				<li>Detailed topographical surveys and mapping</li>
				<li>Road right-of-way surveys</li>
				<li>Power line transmission route surveys.</li>
				<li>Post construction as built surveys.</li>
				<li>Hydrographic surveys</li>
			</div>		
		</div>
		<div class="container">
					<div class="col-md-4" >
					<h3>Property, Boundary and Sectional Title Surveys</h3>
					<p>
						We offer property, land and sectional surveys to demarcate and define new property and section boundaries processing of plans and registration of ownerships. Some of these surveys services offered include;
					</p>
					<li>Property boundary re-establishment surveys</li>
					<li>Sub-division planing and surveys.</li>
					<li>Traversing and beacon placing surveys</li>
					<li>Processing of survey files and deed plans.</li>
					<li>Sectional title surveys.</li>
					<li>Processing of approved sectional title plans for sectional title registeration.</li>
					</div>
					</div>
		<div class="container">
					<div class="col-md-4" >
					<p>GNSS defines is a system of satellites that provide autonomous geo-spatial positioning with global coverage.
					</p>
					<p>
					The technology allows receivers to determine their location (longitude, latitude, and altitude) to high precision (within a few metres) using time signals transmitted along a line of sight by radio from satellites.
					</p>
					<p>
					At Spatialmaps we undertake GNSS surveys for establishment of accurate survey controls for all engineering and development projects .We also undertake RTK surveys for detailed topographical mapping assignment.
					</p>
					</div>
					</div>			
  </div>			

{% endblock %}